<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361155407188-phva1pq693v5idma0sfkhuef5dp9q02m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361155407188-phva1pq693v5idma0sfkhuef5dp9q02m</string>
	<key>API_KEY</key>
	<string>AIzaSyAL45kVmmWgJTqhmBPgiSy4Jte_dbuzAoM</string>
	<key>GCM_SENDER_ID</key>
	<string>361155407188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frederickjavalera.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-adea8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-adea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361155407188:ios:d24cc4ba57056f2a77ecc1</string>
</dict>
</plist>